<section class="favorites" id="menu">
  <div class="container">
    <h2 class="favorites__title section-title">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list card-set">
      <li class="favorites__item card-set__item">
        <div class="favorites__thumb">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/gamburger_lg@1x.webp 1x,
                ./images/favorites/gamburger_lg@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/gamburger_lg@1x.png 1x,
                ./images/favorites/gamburger_lg@2x.png 2x
              "
              type="image/jpg"
            />
            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/gamburger_md@1x.webp 1x,
                ./images/favorites/gamburger_md@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/gamburger_md@1x.png 1x,
                ./images/favorites/gamburger_md@2x.png 2x
              "
              type="image/jpg"
            />
            <!-- mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/favorites/gamburger_sm@1x.webp 1x,
                ./images/favorites/gamburger_sm@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/favorites/gamburger_sm@1x.png 1x,
                ./images/favorites/gamburger_sm@2x.png 2x
              "
              type="image/jpg"
            />
            <!-- fallback -->
            <img
              src="./images/favorites/gamburger_sm@1x.png"
              width="315"
              height="315"
              alt="gamburger"
            />
          </picture>
        </div>
      </li>
      <li class="favorites__item card-set__item">
        <div class="favorites__thumb">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pasta_lg@1x.webp 1x,
                ./images/favorites/pasta_lg@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pasta_lg@1x.png 1x,
                ./images/favorites/pasta_lg@2x.png 2x
              "
              type="image/jpg"
            />
            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/pasta_md@1x.webp 1x,
                ./images/favorites/pasta_md@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/pasta_md@1x.png 1x,
                ./images/favorites/pasta_md@2x.png 2x
              "
              type="image/jpg"
            />
            <!-- mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/favorites/pasta_sm@1x.webp 1x,
                ./images/favorites/pasta_sm@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/favorites/pasta_sm@1x.png 1x,
                ./images/favorites/pasta_sm@2x.png 2x
              "
              type="image/jpg"
            />
            <!-- fallback -->
            <img
              src="./images/favorites/pasta_sm@1x.png"
              width="315"
              height="315"
              alt="pasta"
            />
          </picture>
        </div>
      </li>
      <li class="favorites__item card-set__item">
        <div class="favorites__thumb">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pizza_lg@1x.webp 1x,
                ./images/favorites/pizza_lg@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pizza_lg@1x.png 1x,
                ./images/favorites/pizza_lg@2x.png 2x
              "
              type="image/jpg"
            />
            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/pizza_md@1x.webp 1x,
                ./images/favorites/pizza_md@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/pizza_md@1x.png 1x,
                ./images/favorites/pizza_md@2x.png 2x
              "
              type="image/jpg"
            />
            <!-- mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/favorites/pizza_sm@1x.webp 1x,
                ./images/favorites/pizza_sm@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/favorites/pizza_sm@1x.png 1x,
                ./images/favorites/pizza_sm@2x.png 2x
              "
              type="image/jpg"
            />
            <!-- fallback -->
            <img
              src="./images/favorites/pizza_sm@1x.png"
              width="315"
              height="315"
              alt="pizza"
            />
          </picture>
        </div>
      </li>
      <li class="favorites__item card-set__item">
        <div class="favorites__thumb">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/chicken_lg@1x.webp 1x,
                ./images/favorites/chicken_lg@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/chicken_lg@1x.png 1x,
                ./images/favorites/chicken_lg@2x.png 2x
              "
              type="image/jpg"
            />
            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/chicken_md@1x.webp 1x,
                ./images/favorites/chicken_md@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/chicken_md@1x.png 1x,
                ./images/favorites/chicken_md@2x.png 2x
              "
              type="image/jpg"
            />
            <!-- fallback -->
            <img
              src="./images/favorites/chicken_md@1x.png"
              width="315"
              height="315"
              loading="lazy"
              alt="chiken"
            />
          </picture>
        </div>
      </li>
      <li class="favorites__item card-set__item">
        <div class="favorites__thumb">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/salat_lg@1x.webp 1x,
                ./images/favorites/salat_lg@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/salat_lg@1x.png 1x,
                ./images/favorites/salat_lg@2x.png 2x
              "
              type="image/jpg"
            />
            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/salat_md@1x.webp 1x,
                ./images/favorites/salat_md@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/salat_md@1x.png 1x,
                ./images/favorites/salat_md@2x.png 2x
              "
              type="image/jpg"
            />
            <!-- fallback -->
            <img
              src="./images/favorites/salat_md@1x.png"
              width="315"
              height="315"
              loading="lazy"
              alt="salat"
            />
          </picture>
        </div>
      </li>
      <li class="favorites__item card-set__item">
        <div class="favorites__thumb">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/borshch_lg@1x.webp 1x,
                ./images/favorites/borshch_lg@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/borshch_lg@1x.png 1x,
                ./images/favorites/borshch_lg@2x.png 2x
              "
              type="image/jpg"
            />
            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/borshch_md@1x.webp 1x,
                ./images/favorites/borshch_md@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/borshch_md@1x.png 1x,
                ./images/favorites/borshch_md@2x.png 2x
              "
              type="image/jpg"
            />
            <!-- fallback -->
            <img
              src="./images/favorites/borshch_md@1x.png"
              width="315"
              height="315"
              loading="lazy"
              alt="borshch"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
