<section class="hero">
  <div class="container hero__container">
    <div class="hero__wrapper">
      <h1 class="hero__title main-title">
        Enjoy Your Favorite Food From&nbsp;Anywhere
      </h1>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat
      </p>
      <button class="hero__btn" type="button" data-modal-open-2>
        Order Now
      </button>
    </div>
    <div class="slider">
      <div class="swiper">
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <picture>
              <!-- desktop screen -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/hero/slide-1_lg@1x.webp 1x,
                  ./images/hero/slide-1_lg@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/hero/slide-1_lg@1x.png 1x,
                  ./images/hero/slide-1_lg@2x.png 2x
                "
                type="image/jpg"
              />
              <!-- tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/hero/slide-1_md@1x.webp 1x,
                  ./images/hero/slide-1_md@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/hero/slide-1_md@1x.png 1x,
                  ./images/hero/slide-1_md@2x.png 2x
                "
                type="image/jpg"
              />

              <!-- fallback -->
              <img
                src="./images/hero/slide-1_md@1x.png"
                loading="lazy"
                alt="slide-1"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <!-- desktop screen -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/hero/slide-2_lg@1x.webp 1x,
                  ./images/hero/slide-2_lg@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/hero/slide-2_lg@1x.png 1x,
                  ./images/hero/slide-2_lg@2x.png 2x
                "
                type="image/jpg"
              />
              <!-- tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/hero/slide-2_md@1x.webp 1x,
                  ./images/hero/slide-2_md@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/hero/slide-2_md@1x.png 1x,
                  ./images/hero/slide-2_md@2x.png 2x
                "
                type="image/jpg"
              />

              <!-- fallback -->
              <img
                src="./images/hero/slide-2_md@1x.png"
                loading="lazy"
                alt="slide-2"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <!-- desktop screen -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/hero/slide-3_lg@1x.webp 1x,
                  ./images/hero/slide-3_lg@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/hero/slide-3_lg@1x.png 1x,
                  ./images/hero/slide-3_lg@2x.png 2x
                "
                type="image/jpg"
              />
              <!-- tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/hero/slide-3_md@1x.webp 1x,
                  ./images/hero/slide-3_md@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/hero/slide-3_md@1x.png 1x,
                  ./images/hero/slide-3_md@2x.png 2x
                "
                type="image/jpg"
              />

              <!-- fallback -->
              <img
                src="./images/hero/slide-3_md@1x.png"
                loading="lazy"
                alt="slide-3"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev">
        <svg class="swiper-icon">
          <use href="./images/icons.svg#arrow-right"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg class="swiper-icon">
          <use href="./images/icons.svg#arrow-left"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
