.order-form {
  &__title {
    display: block;
    margin-bottom: 20px;

    text-align: center;
    @include fonts(24px, 29px, 700);
  }

  &__group {
    margin-bottom: 32px;
  }

  &__wrap {
    position: relative;

    display: block;
    margin-bottom: 24px;
  }

  &__wrap:last-child {
    margin: 0;
  }

  &__label {
    display: block;
    margin-bottom: 2px;

    @include fonts(16px, 22px, 500);
  }
}

.order-form__input {
  display: block;
  width: 100%;
  height: 48px;

  padding: 14px 12px;

  background-color: var(--main-light);
  @include fonts(16px, 20px);

  border: 1px solid rgba(18, 18, 18, 0.12);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 30px;

  outline: transparent;

  transition: border-color var(--animation);

  &:hover,
  &:focus {
    border-color: var(--main-green);
  }

  // &:focus,
  // &:not(:placeholder-shown) {
  //   border-color: var(--main-yellow);
  // }

  // &::placeholder {
  //   @include fonts(16px, 22px);
  //   color: var(--form-font-cl);
  //   transition: color var(--animation);
  // }

  // // &:focus::placeholder {
  // //   color: var(--contacts-form-cl);
  // // }

  &:required:valid:not(:placeholder-shown) {
    border-color: var(--main-green);
  }

  &:required:invalid:not(:placeholder-shown) {
    border-color: var(--form-red);
  }

  // &:required:invalid {
  //   border-color: var(--form-red);
  // }
}

.order-form__notification {
  position: absolute;
  bottom: -20px;
  left: 12px;

  width: 100%;
  opacity: 0;

  transition: opacity var(--animation);

  .order-form__input:required:invalid:not(:placeholder-shown) ~ & {
    opacity: 1;
  }
}

.order-form__desc {
  @include fonts(11px, 15px, 500);
  color: var(--form-red);
}

// .order-form__icon {
//   position: absolute;
//   bottom: 12px;
//   left: 12px;

//   transition: fill var(--animation);

//   .modal-form-input:hover + &,
//   .modal-form-input:focus + & {
//     fill: var(--accent-cl);
//   }
// }

.order-form__btn {
  @extend %button;
  display: block;
  margin: 0 auto;
  padding: 8px 36px;
  background-color: var(--main-light);
  border: 2px solid var(--main-green);

  transition: background-color var(--animation);

  &:hover,
  &:focus {
    border-color: var(--hover-btn-border);
  }
}
